/* base styles */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    color: #E7E7E7;
    background:
        linear-gradient(
            rgba(0, 0, 0, 0.8)20%, 
            rgba(0, 0, 0, 0.5)50%,    
            rgba(0, 0, 0, 0.8)80%      
        ),
        url("../images/background.png");      

    background-size: cover;        
    background-position: center;
    background-repeat: no-repeat;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif, 'Arial Narrow', Arial, sans-serif, sans-serif;
    width: 100vw;
    height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

address {
    font-style: normal;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

button {
    padding: 0;
    cursor: pointer;
}